* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.details1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#LogOut {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    border-radius: 0.5rem;
   }
   
   #LogOut span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
   }
   
   #LogOut span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   #LogOut:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
   }
   
   #LogOut:hover {
    color: white;
   }
   
   #LogOut:active span::before {
    background: #2751cd;
   }

#UsernameHolder{
    font-weight: bold;
}